body {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background: #abbaab;
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
  background: linear-gradient(to right, #ffffff, #abbaab);
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

header h1 a {
  text-decoration: none;
  color: #000000;
}

body {
  padding-top: 100px;
}

/* Contenedor de las imágenes */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

/* Elemento individual de la imagen */
.image-item {
  flex: 1 1 calc(50% - 20px); /* Ajusta la base flexible */
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
}

/* Imágenes */
.image-item img {
  width: calc(50% - 20px); /* Tamaño igual para todas las imágenes */
  height: auto; /* Mantiene la relación de aspecto */
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-right: 20px; /* Espacio entre imágenes */
  margin-bottom: 20px; /* Espacio debajo de las imágenes */
}

.image-item h2 {
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}

@media (max-width: 600px) {
  .image-item {
    flex: 1 1 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
  }

  .image-item img {
    width: 100%; /* Tamaño completo en pantallas pequeñas */
    margin-right: 0; /* Elimina el margen entre imágenes en pantallas pequeñas */
  }
}
