body {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background: #abbaab;
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
  background: linear-gradient(to right, #ffffff, #abbaab);
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

header h1 a {
  text-decoration: none;
  color: #000000;
}

body {
  padding-top: 100px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.image-item {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
}

.image-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.image-item h2 {
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}

@media (max-width: 600px) {
  .image-item {
    flex-basis: 100%;
  }
}
